{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "comments": false
}
