/*
  VARIABLES
*/

@black: #000000;
@white: #ffffff;
@lightgrey: lighten(@black, 90%);
@grey: lighten(@black, 55%);
@midgrey: lighten(@black, 30%);
@dark: lighten(@black, 10%);
@accent: rgba(0, 50, 255, 0.9);
@accentSolid: rgba(0, 50, 255, 1);
@shadow: rgba(0, 0, 0, 0.5);
@shadowStyle: 0 2px 10px 0 @shadow;
@shadowStyleInner: inset 0 1px 3px 0px @shadow;
@shadowStyleSmall: 0 2px 4px 0 @shadow;
@fontNormal: 300;
@fontBold: 600;
// Header bar units
@hSm: .4rem;
@hMd: .45rem;
@hLg: .5rem;


/*
	FUNCTIONS
*/

// Reverse z-index
.reverse-index(@counter) when (@counter > 0) {
  .reverse-index((@counter - 1));    // next iteration
  &:nth-child(@{counter}) {
    z-index: (100 - @counter);
  }
}


/*
  MEDIA QUERIES
*/

.mq-sm(@rules) {
	@media only screen and (min-width: 768px) {
		@rules();
	}
}

.mq-sm-under(@rules) {
	@media only screen and (max-width: 767px) {
		@rules();
	}
}

.mq-md(@rules) {
	@media only screen and (min-width: 992px) {
		@rules();
	}
}

.mq-lg(@rules) {
	@media only screen and (min-width: 1300px) {
		@rules();
	}
}

.mq-xl(@rules) {
	@media only screen and (min-width: 1600px) {
		@rules();
	}
}

.ieOnly(@rules) {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@rules();
	}
}

.edgeOnly(@rules) {
	@supports (-ms-ime-align: auto) {
		@rules();
	}
}